{% load django_bootstrap5 %}
<div class="modal fade" id="excluirVisitaModal{{ visita.id }}" tabindex="-1"
     aria-labelledby="excluirVisitaLabel{{ visita.id }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form method="POST" action="{% url 'excluir_visita' visita.id %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="excluirVisitaLabel{{ visita.id }}">Confirmar Exclusão</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    Tem certeza que deseja excluir a visita ao imovel"<b>{{ visita.imovel }}</b>"?
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Excluir</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
