{% extends "principal.html" %}
{% load static %}
{% block content %}
{% load django_bootstrap5 %}
<section>
    <div class="container py-5">
        <form method="post" enctype="multipart/form-data">
            <h1 class="text-center">Agendar Visita</h1>
            {% csrf_token %}
            {% bootstrap_form form %}
            {% bootstrap_messages %}
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-lg btn-success">Agendar</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}