{% extends 'principal.html' %}
{% load static %}
{% block content %}
{% load django_bootstrap5 %}
<section class="container">
    <div class="container my-5">
        <h2 class="mb-4 text-center"><u>Transação</u></h2>
        <a href="{% url 'incluir_venda' %}" class="btn btn-primary mb-4">
            <span><i class="fa-solid fa-plus"></i></span>
            Incluir Venda
        </a>
        <a href="{% url 'incluir_aluguel' %}" class="btn btn-primary mb-4">
            <span><i class="fa-solid fa-plus"></i></span>
            Incluir Aluguel
        </a>

        <div class="">
            <form action="" method="GET">
                <div class="d-flex align-items-start gap-2 my-4">
                    <label class="label p-2 mt-2"></label>
                    <input class="form-control" type="text" name="buscar" value="{{ request.GET.buscar }}"
                           placeholder="Digite o código do imóvel, tipo do imovel, nome do corretor ou nome do cliente"/>
                    <button type="submit" class="btn btn-success">Buscar</button>
                </div>
            </form>
        </div>

        {% bootstrap_messages %}
        <div class="text-end">
            <div class="pe-3">
                Total de Transações realizadas: {{ qtd_transacoes }}
            </div>
        </div>

        <div class="table-responsive shadow-sm rounded bg-white p-4">
            <table class="table table-striped align-middle text-center">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Codigo do imovel</th>
                    <th scope="col">Corretor</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">valor</th>
                    <th scope="col">Taxa</th>
                    <th scope="col">Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for transacao in transacoes %}
                <tr>
                    <td>{{ transacao.imovel.codigo }}</td>
                    <td>{{ transacao.corretor }}</td>
                    <td>{{ transacao.cliente }}</td>
                    <td>{{ transacao.tipo }}</td>
                    {% load custom_filters %}
                    <td>{{ transacao.valor|formatar_moeda }}</td>
                    <td>{{ transacao.valortaxa }}</td>
                    <td>
                        {% if transacao.tipo == 'Venda' %}
                        <a href="{% url 'editar_venda' transacao.id %}" class="btn btn-sm btn-outline-primary me-2">Editar</a>
                        {% elif transacao.tipo == 'Locacao' %}
                        <a href="{% url 'editar_aluguel' transacao.id %}" class="btn btn-sm btn-outline-primary me-2">Editar</a>
                        {% endif %}
                        <a href="{% url 'visualizar_transacao' transacao.id %}"
                           class="btn btn-sm btn-outline-success me-2">Visualizar</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include 'paginator.html' %}
        </div>
    </div>
</section>
{% endblock %}
