<div class="modal fade" id="excluirClienteModal{{ cliente.id }}" tabindex="-1"
     aria-labelledby="excluirClienteLabel{{ cliente.id }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form method="POST" action="{% url 'excluir_cliente' cliente.id %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="excluirClienteLabel{{ cliente.id }}">Confirmar Exclusão</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    Tem certeza que deseja excluir o cliente "<b>{{ cliente.nome }}</b>"?
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Excluir</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
